body {

 
}
.welcome-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 80.96px;
}
.welcome-subtitle {
  font-size: 24px;
  font-weight: 450;
  line-height: 30.36px;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.success-img {
  background: url('/src/assets/promo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes loadingDots {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}