@font-face {
  font-family: 'DM Sans';
  src: url('/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: Regular 400;
}

@font-face {
  font-family: 'Flow Circular';
  src: url('/src/assets/fonts/Flow_Circular/FlowCircular-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Circular std';
  src: url('/src/assets/fonts/CircularStd/CircularStd-Bold.otf') format('truetype'),
    url('/src/assets/fonts/CircularStd/CircularStd-Black.otf') format('truetype'),
    url('/src/assets/fonts/CircularStd/CircularStd-Light.otf') format('truetype'),
    url('/src/assets/fonts/CircularStd/CircularStd-Medium.otf') format('truetype');
  font-style: normal;
  /* Cambia según el estilo */
}