/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype'),
         url('/src/assets/fonts/Poppins-Medium.ttf') format('truetype');
  
    font-style: normal; /* Cambia según el estilo */
  }
  
  /* src/assets/fonts/fonts.css */
@font-face {
     font-family: 'DM Sans';
     src: 
          url('/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
   
     font-style: Regular 400; /* Cambia según el estilo */
   }
   @font-face {
      font-family: 'Flow Circular';
      src: url('/src/assets/fonts/Flow_Circular/FlowCircular-Regular.ttf') format('truetype');
      font-style: normal; /* Cambia según el estilo */
    }
 
    @font-face {
     font-family: 'Circular std';
     src: url('/src/assets/fonts/CircularStd/CircularStd-Bold.otf') format('truetype'),
     url('/src/assets/fonts/CircularStd/CircularStd-Black.otf') format('truetype'),
     url('/src/assets/fonts/CircularStd/CircularStd-Light.otf') format('truetype'),
     url('/src/assets/fonts/CircularStd/CircularStd-Medium.otf') format('truetype');
     font-style: normal; /* Cambia según el estilo */
   }

    